<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage QuickType Shortcuts</title>
</head>

<body>
    <tpen-page title="Manage QuickType Shortcuts">
        <tpen-quicktype></tpen-quicktype>
    </tpen-page>

    <script src="./quicktype.js" type="module"></script>
    <script src="../gui/toast/ToastContainer.js" type="module"></script>
    <script src="../gui/site/Page.js" type="module"></script>
</body>

</html>
