<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js" type="module"></script>
    <script src="/components/gui/site/index.js" type="module"></script>
    <script src="/components/explanatory-guide/fixedGuideComponent.js" type="module"></script>
    <link rel="stylesheet" href="index.css">
    <title>Manage Project Metadata</title>
</head>
<body>
  <tpen-page>
    <tpen-fixed-explanatory-guide heading="Steps to Update Metadata">
      <li>Click <strong>"Add Field"</strong> to add a new metadata field by adding Label and Value.</li>
      <li>Select the metadata you want to update.</li>
      <li>Optionally, delete any unwanted field using the <strong>trash icon.</strong></li>
      <li>Make your changes in the form.</li>
      <li>Click <strong>"Save"</strong> to apply your changes.</li>
    </tpen-fixed-explanatory-guide>
    <div class="tpen-metadata" tpen-scope="metadata">
      <update-metadata></update-metadata>
      <div id="container" class="metadata-modal-container">
          <div id="metadata-modal" class="modal hidden">
            <div class="modal-content">
              <h3>Edit Metadata</h3>
              <form id="metadata-form">
                <div id="metadata-fields"></div>
                <button type="button" id="add-field-btn">+ Add Field</button>
                <div class="modal-actions">
                  <button type="button" id="save-metadata-btn">Save</button>
                  <button type="button" id="cancel-btn">Cancel</button>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
    <p class="permission-msg" style="display: none;">You don't have permission to create,edit or delete Metadata</p>
  </tpen-page>
    <script type="module">
      import CheckPermissions from '../check-permissions/checkPermissions.js'
      import TPEN from '../../api/TPEN.js'

      TPEN.eventDispatcher.on('tpen-project-loaded', () => {
        const divMetadata = document.querySelector('.tpen-metadata')
        const permissionMsg = document.querySelector('.permission-msg')
        const scope = divMetadata.getAttribute('tpen-scope')
          if (!scope) {
              return
          }
          const hasEditAccess = CheckPermissions.checkEditAccess('*', scope.toUpperCase())
          const hasDeleteAccess = CheckPermissions.checkDeleteAccess('*', scope.toUpperCase())
          const checkCreateAccess = CheckPermissions.checkCreateAccess('*', scope.toUpperCase())
          divMetadata.style.display = hasEditAccess ? 'inline-block' : divMetadata.remove()
          if (hasEditAccess) {
            const deleteButton = document.querySelectorAll('.remove-field-btn')
            deleteButton.forEach(button => {
              button.style.display = hasDeleteAccess ? 'inline-block' : button.remove()
            })
            const addButton = document.querySelector('#add-field-btn')
            addButton.style.display = checkCreateAccess ? 'inline-block' : addButton.remove()
          }
          permissionMsg.style.display = hasEditAccess ? 'none' : 'inline-block'
      })
    </script>
</body>
</html>