---
title: Detailed Guide to Create a New Project
permalink: /components/quick-guide
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Guide to Create a New Project</title>
    <link rel="stylesheet" href="/components/quick-guide/index.css">
    <script src="/api/TPEN.js" type="module"></script>
    <script src="/components/gui/site/index.js" type="module"></script>
    <script src="/components/quick-guide/index.js" type="module"></script>
</head>

<body>
    <tpen-page>
        <section class="quick-tour">
            <div class="header-panel">
                <h1>Detailed Guide to Create a New Project</h1>
                <p>Follow these steps to create a new project in TPEN.</p>
                <img class="guide-image" src="https://corporate-assets.lucid.co/chart/844cb535-aa32-432b-9f86-67ec4af0ef5c.png" alt="Create Project Guide">
            </div>
            <div class="new-project-panel">
                <div class="new-project-heading-button">
                    <h2>Steps to Create a New Project From an Image :</h2>
                    <button class="collapse-button">Collapse Details</button>
                </div>
                <div class="carousel-container">
                    <div class="carousel-wrapper">
                        <ol class="carousel-track">
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Create Project" />
                                <p>Click on the <strong><a href="/project/create">Create a New Project</a></strong> from My Actions tab on the home page.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Transcribe Image" />
                                <p>Click on the <strong><a href="/project/import-image">Transcribe</a></strong> button in the Transcribe Image tab.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Project Name and URL" />
                                <p>Enter the <strong>Project Name</strong> and a <strong>URL of the image</strong> you want to use for your project in the provided field.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Create Project Button" />
                                <p>Click on the <strong>Create Project</strong> button to finalize the creation of your project.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Project List" />
                                <p>Your new project will now appear in the project list, and you can start transcribing it.</p>
                            </li>
                        </ol>
                        <div class="carousel-buttons">
                            <button id="prevBtn0">Prev</button>
                            <button id="nextBtn0">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-project-panel">
                <div class="new-project-heading-button">
                    <h2>Steps to Import a Project from IIIF Manifest :</h2>
                    <button class="collapse-button">Collapse Details</button>
                </div>
                <div class="carousel-container">
                    <div class="carousel-wrapper">
                        <ol class="carousel-track">
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Import IIIF Manifest" />
                                <p>Click on the <strong><a href="/project/create">Create a New Project</a></strong> from My Actions tab on the home page.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Import IIIF Manifest" />
                                <p>Click on the <strong><a href="/project/import">Import Manifest</a></strong> button in the Import IIIF Manifest tab.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Enter IIIF URL" />
                                <p>Enter the <strong>IIIF Manifest URL</strong> in the provided field.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Create Project Button" />
                                <p>Click on the <strong>Import Project</strong> button to finalize the creation of your project.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Project List" />
                                <p>Your new project will now appear in the project list, and you can start working on it.</p>
                            </li>
                        </ol>
                        <div class="carousel-buttons">
                            <button id="prevBtn1">Prev</button>
                            <button id="nextBtn1">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-project-panel">
                <div class="new-project-heading-button">
                    <h2>Steps to Import a Project from T-PEN 2.8 :</h2>
                    <button class="collapse-button">Collapse Details</button>
                </div>
                <div class="carousel-container">
                    <div class="carousel-wrapper">
                        <ol class="carousel-track">
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Import T-PEN 2.8 Project" />
                                <p>Click on the <strong><a href="/project/create">Create a New Project</a></strong> from My Actions tab on the home page.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Import T-PEN 2.8 Project" />
                                <p>Click on the <strong><a href="/project/import-tpen">Import Project</a></strong> button in the Import T-PEN 2.8 Project tab.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Upload T-PEN 2.8 File" />
                                <p>This will take you to the T-PEN 2.8 Login Page. Log in with your T-PEN 2.8 credentials.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Create Project Button" />
                                <p>After successful login, you will see a list of your T-PEN 2.8 projects. Select the project you want to import.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Project List" />
                                <p>As you select a project, it will be imported into TPEN3, with all the project configurations and annotations preserved.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Project List" />
                                <p>All the collaborators from the T-PEN 2.8 project will be listed and you can invite them to collaborate on the imported project.</p>
                            </li>
                            <li class="new-project-card">
                                <img class="dummy-image" src="../../assets/images/dummy-image.png" alt="Project List" />
                                <p>Lastly, review the project details and you can start working on it.</p>
                            </li>
                        </ol>
                        <div class="carousel-buttons">
                            <button id="prevBtn2">Prev</button>
                            <button id="nextBtn2">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </tpen-page>
</body>

</html>
