<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js" type="module"></script>
    <script src="/components/explanatory-guide/fixedGuideComponent.js" type="module"></script>
    <title>Manage Layers and Pages</title>
</head>
<body>
    <tpen-fixed-explanatory-guide heading="Manage Layers and Pages">
        <li>TODO: Re-order layers by dragging and dropping to swap positions.</li>
        <li>CANDO: Re-order the Pages of a Layer by dragging and dropping to swap positions.</li>
        <li>You can also change the label of any page or layer. Click 'manage pages' on a layer to start.</li>
    </tpen-fixed-explanatory-guide>
    <tpen-manage-layers></tpen-manage-layers>
</body>
</html>