*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

tpen-card {
    grid-column: span 2;
}

project-collaborators::part(group-title) {
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

project-collaborators::part(project-title-h1) {
    font-size: 1.75rem;
    color: var(--text-primary);
    margin: 0;
}

project-collaborators::part(project-title) {
    font-weight: bold;
    color: var(--primary-color);
}

project-collaborators::part(group-members-title) {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
    color: var(--accent);
    padding: 0 20px;
}

project-collaborators::part(group-members) {
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
}

project-collaborators::part(member) {
    background-color: var(--light-gray);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

project-collaborators::part(member-info) {
    font-size: 1rem;
    color: var(--text-primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

project-collaborators::part(role) {
    font-weight: bold;
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

project-collaborators::part(leader) {
    color: var(--white);
    padding: 5px;
    background-color: var(--success-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--success-color);
    border-radius: 5px;
}

project-collaborators::part(owner) {
    color: var(--white);
    padding: 5px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

project-collaborators::part(default-roles) {
    color: var(--white);
    padding: 5px;
    background-color: var(--gray);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gray);
    border-radius: 5px;
}

project-collaborators::part(custom-role) {
    color: var(--white);
    padding: 5px;
    background-color: var(--gray);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gray);
    border-radius: 5px;
}

project-collaborators::part(manage-roles-button) {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

project-collaborators::part(manage-roles-button:hover) {
    background-color: var(--primary-light);
} 

project-collaborators::part(role-management-buttons){
    width: 100%;
    gap: 10px;
    display: flex;
    padding: 20px;
}

project-collaborators::part(transfer-ownership-button){
    background-color: var(--success-color);
    padding: 8px;
    font-size: 0.875rem;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

project-collaborators::part(make-leader-button){
    background-color: var(--primary-color);
    padding: 8px;
    font-size: 0.875rem;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

project-collaborators::part(demote-leader-button){
    background-color: var(--primary-light);
    padding: 8px;
    font-size: 0.875rem;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

project-collaborators::part(set-to-viewer-button){
    background-color: var(--interface-primary);
    padding: 8px;
    font-size: 0.875rem;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

project-collaborators::part(set-role-button){
    background-color: var(--gray);
    padding: 8px;
    font-size: 0.875rem;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

project-collaborators::part(remove-button){
    background-color: var(--error-color);
    padding: 8px;
    font-size: 0.875rem;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


invite-member::part(invite-section-container) {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

invite-member::part(title) {
    font-size: 20px;
    margin: 10px 0 20px;
    font-weight: 500;
    color: var(--accent);
}

invite-member::part(description) {
    font-size: 0.875rem;
    color: var(--text-primary);
}

invite-member::part(invite-form) {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

invite-member::part(email-label) {
    font-size: 0.9rem;
    color: var(--text-primary);
}

invite-member::part(email-input) {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    width: 30%;
}

invite-member::part(submit-button) {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

invite-member::part(submit-button):hover {
    background-color: var(--primary-light);
}

invite-member::part(error-message) {
    color: var(--error-color);
    font-size: 0.875rem;
    display: none;
}

invite-member::part(error) {
    color: var(--white);
    font-size: 0.9rem;
    background-color: var(--error-color);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
}

roles-handler::part(modal-content) {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

roles-handler::part(modal-actions) {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

roles-handler::part(modal-buttons-confirm) {
    background-color: var(--success-color);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

roles-handler::part(modal-buttons-cancel) {
    background-color: var(--error-color);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

