<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js" type="module"></script>
    <title>Manage Roles</title>
</head>
<body>
    <tpen-manage-role tpen-entity="role"></tpen-manage-role>
    <p class="permission-msg" style="display: none;">You don't have permission to create or edit roles</p>
    <script type="module">
        import CheckPermissions from '../../components/check-permissions/checkPermissions.js'

        (async () => {
            const manageRole = document.querySelector('tpen-manage-role')
            const permissionMsg = document.querySelector('.permission-msg')
            const entity = manageRole.getAttribute('tpen-entity')
            if (!entity) {
                return
            }

            const hasCreateAccess = await CheckPermissions.checkCreateAccess(entity.toUpperCase())
            manageRole.style.display = hasCreateAccess ? 'block' : manageRole.remove()
            permissionMsg.style.display = hasCreateAccess ? 'none' : 'inline-block'
        })()
    </script>
</body>
</html>