<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js" type="module"></script>
    <title>Manage Role</title>
</head>
<body>
    <label for="role-name">Role Name:</label><br>
    <input type="text" id="role-name" placeholder="Role name"><br><br>

    <label for="permission">Permissions:</label><br>
    <input type="text" id="permission" placeholder="Permission"><br><br>

    <manage-role></manage-role>
   
    <button id="reset">Reset</button>
    <button id="edit-role-name">Edit Role Name</button>
    <button id="add-permissions">Add permissions to List</button>
    <button id="add-role">Add custom role</button>
    <div id="permissions">Permissions List: []</div>
</body>
</html>